*.vsix filter=lfs diff=lfs merge=lfs -text
flasher/*.exe filter=lfs diff=lfs merge=lfs -text
flasher/*.dmg filter=lfs diff=lfs merge=lfs -text
flasher/*.AppImage filter=lfs diff=lfs merge=lfs -text
flasher/*.deb filter=lfs diff=lfs merge=lfs -text
ide/*.exe filter=lfs diff=lfs merge=lfs -text
ide/*.dmg filter=lfs diff=lfs merge=lfs -text
ide/*.zip filter=lfs diff=lfs merge=lfs -text
ide/*.deb filter=lfs diff=lfs merge=lfs -text
ide/*.rpm filter=lfs diff=lfs merge=lfs -text
ide/*.AppImage filter=lfs diff=lfs merge=lfs -text
